# Managed by Ansible
if [[ `id -u` == 0 ]] ; then
  export PS1='\[\033[01;37m\][{{ client_name }}-{{ env }}] \[\033[00;31m\]\u\[\033[00;32m\]@\H \[\033[00;33m\]\t \[\033[00;31m\]\w \$ \[\033[00m\]'
else
  export PS1='\[\033[00;32m\]\u@\H \[\033[00;33m\]\t \[\033[00;31m\]\w \$ \[\033[00m\]'
fi
